@use '../../index'

.profile-page
	max-width: 416px
	margin: 0 auto

	/* Wrapper Nickname, Registration Dates */
	&__user
		display: flex
		align-items: flex-start !important
		flex-direction: column !important
		gap: 10px !important
		padding: 14px 20px
		@include index.border15
		background-color: index.$c-bg-900

	/* Nickname */
	&__user-name
		display: flex
		align-items: center
		gap: 4px
		& svg
			width: 30px
			height: 30px
			stroke: index.$c-text !important

	/* Wrapper Support */
	.links
		display: flex
		flex-wrap: wrap
		gap: 16px
		width: 100%

		/* Links */
		&__item
			display: flex
			align-items: center
			justify-content: center
			width: 56px
			height: 56px
			@include index.border15
			background-color: index.$c-bg-900
		&__button
			display: flex
			align-items: center
			justify-content: center
			width: 40px
			height: 40px
			@include index.link
			border-color: transparent !important

	/* Statistics Wrapper */
	.stats
		padding: 14px 20px
		@include index.border15
		background-color: index.$c-bg-900

		/* Statistics List */
		&__list
			display: flex
			flex-direction: column
			gap: 8px

		/* Elements of the list of statistics */
		&__item
			display: flex
			gap: 8px

		/* Data from statistical elements */
		&__data
			display: flex
			align-items: center
			justify-content: space-between
			width: 100%
			height: 35px
			padding: 0 16px
			@include index.border7
			background-color: index.$c-bg-main
			border: 1px solid index.$c-stroke
			line-height: 140%

		/* Link of statistical elements */
		&__button
			flex-shrink: 0
			display: flex
			align-items: center
			justify-content: center
			width: 35px
			height: 35px
			@include index.link

	/* Achievement List */
	.achievements
		display: grid
		gap: 16px

		/* Achievements list item */
		&__item
			display: flex
			align-items: center
			gap: 10px
			padding: 14px 20px
			@include index.border15
			background-color: index.$c-bg-900
			&.done
				.achievements__title, .achievements__text
					color: index.$c-text-disabled

		/* Element content */
		&__content
			display: grid
			gap: 8px
			width: 100%

		/* Achievement Title */
		&__title
			font-weight: 400

		/* Completed Achievement Icon */
		&__icon
			flex-shrink: 0
			display: flex
			align-items: center
			justify-content: center
			width: 30px
			height: 30px
			& svg
				stroke: index.$c-text-disabled

		/* Achievement Progression */
		&__progress
			flex-shrink: 0
			flex-grow: 1
			min-width: 30px

@media (any-hover:hover)
	.profile-page
		.links
			&__button:hover
				@include index.link-hover

		.stats
			&__button:hover
				@include index.link-hover
