@use '../../index'

.report-popup
	width: 100%
	&__back
		position: absolute
		top: 15px
		left: 20px
		color: index.$c-text
		display: flex
		align-items: center
		gap: 8px
		height: 40px
		padding: 8px 16px 8px 8px
		@include index.link

		&__title
			text-align: center

	/* Список вариантов жалобы */		
	&__list
		& li
			display: flex
			flex-direction: column
			gap: 8px
			width: 100%
			text-align: center

	&__item
		width: 100%
		padding: 16px 14px
		text-align: center
		color: index.$c-text
		@include index.link

	&__textarea
		min-height: 100px

@media (any-hover:hover)
	.report-popup
		&__back:hover
			@include index.link-hover

		&__item:hover
			@include index.link-hover
