@use '../../index'

.replies-sent-page
	/* List of sent reply items */
	&__list
		display: grid
		gap: 16px

	/* Items in the list of sent replies */
	&__item
		display: flex
		flex-direction: column
		gap: 16px
		padding: 14px 20px
		@include index.border15
		background-color: index.$c-bg-900

	/* Element Text */

	/* Wrapper for Reactions, Links */
	&__footer
		display: flex
		align-items: center
		justify-content: space-between
		gap: 16px

	/* Reactions in index.sass */

	/* Link in index.sass */
	&__link
		width: fit-content !important
		padding: 0 20px
