@use '../../index'

.header
	position: fixed
	z-index: 1
	top: 0
	left: 50%
	transform: translateX(-50%)
	display: flex
	justify-content: space-between
	align-items: center
	width: 100%
	max-width: 470px
	padding: 15px

	/* Лого */
	&__logo
		display: flex
		justify-content: center
		align-items: center
		svg
			height: 40px
			stroke: none

	/* Обертка Баланса, Уведомлений, Профиля*/
	&__profile
		position: relative
		display: flex
		align-items: center
		justify-content: center
		box-shadow: 0 0 4px 2px index.$c-bg-main
		border-radius: 15px

	/* Баланс */
	.balance
		position: absolute
		left: -120px
		z-index: -1
		display: flex
		align-items: center
		justify-content: center
		width: 120px
		height: 30px
		padding: 0 12px
		background-color: index.$c-bg-input
		@include index.border7
		border-radius: 7px 0 0 7px
		border: 1px solid index.$c-stroke
		border-right: 0
		animation: balance-translate 1.4s ease
		box-shadow: 0 0 4px 2px index.$c-bg-main

	/* Обертка Уведомлений, Профиля */
	&__buttons
		display: flex
		justify-content: center
		align-items: center
		gap: 12px
		height: 56px
		padding: 0 8px
		background-color: index.$c-bg-900
		overflow: hidden
		@include index.border15

	&__button
		display: flex
		justify-content: center
		align-items: center
		width: 40px
		height: 40px
		@include index.button
		transition: 0.2s ease
		cursor: pointer
		&.active
			@include index.button-active
	.header-item1
		animation: header-item1 0.8s ease
	.header-item2
		animation: header-item2 0.8s ease

@media (any-hover:hover)
	.header
		&__button:hover
			@include index.button-hover
