@use '../../index'

.header
	position: fixed
	z-index: 1
	top: 0
	left: 50%
	transform: translateX(-50%)
	display: flex
	justify-content: flex-end
	align-items: center
	width: 100%
	max-width: 470px
	padding: 15px
	background-color: index.$c-bg-main
	box-shadow: 0 0 10px 10px index.$c-bg-main

	&__profile
		display: flex
		align-items: center
		justify-content: center
		overflow: hidden

	.balance
		position: relative
		z-index: -1
		display: flex
		align-items: center
		justify-content: center
		min-width: 60px
		width: fit-content
		height: 30px
		padding: 0 12px
		background-color: index.$c-bg-input
		@include index.border7
		border-radius: 7px 0 0 7px
		border: 1px solid index.$c-stroke
		border-right: 0
		animation: balance-translate 2s ease

	.profile
		display: flex
		justify-content: center
		align-items: center
		width: 56px
		height: 56px
		@include index.border15
		background-color: index.$c-bg-900
		animation: opacity 0.6s ease

		&__button
			display: flex
			justify-content: center
			align-items: center
			width: 40px
			height: 40px
			@include index.button
			transition: 0.2s ease
			cursor: pointer
			&.active
				@include index.button-active

@media (any-hover:hover)
	.header
		.profile
			&__button:hover
				@include index.button-hover
