@use '../../index'

.questions-page
	max-width: 395px
	margin: 0 auto

	/* Questions filter wrapper */
	&__filter
		position: absolute
		z-index: 2
		top: 72px
		right: 15px
		display: flex
		flex-direction: column
		gap: 16px
		width: 85%
		max-width: 400px
		padding: 20px 14px
		@include index.border15
		background-color: index.$c-bg-900
		@include index.shadow

	/* Languages filter items */
	.language-filter-item
		flex-grow: 1

	/* Input */
	&__input
		& input
			padding-right: 40px !important

	/* List of questions */
	&__list
		display: grid
		gap: 16px

	/* Questions item */
	&__item
		position: relative
		display: flex
		flex-direction: column
		gap: 16px
		padding: 14px 20px
		@include index.border15
		background-color: index.$c-bg-900
		opacity: 0 // Initially hidden
		transition: opacity 0.5s ease-in-out
		&.visible
			opacity: 1 // Fully visible after delay

	/* Popularity icon */
	&__popular
		position: absolute
		top: 0
		right: 20px
		@include index.button-active
		border-radius: 0 0 7px 7px !important
		pointer-events: none
		&.none
			display: none

	/* Question title */
	&__title
		max-width: 85%
		font-size: 16px !important

	/* Tags in index.sass */

	/* Wrapper for Report, Track, Like, Comment and Leave Comment Buttons */
	&__buttons-wrapper
		display: flex
		justify-content: space-between

	/* Wrapper for Report, Tracking, Likes */
	&__buttons
		display: flex
		align-items: center
		gap: 8px

	/* Report, Track, Like Buttons */
	&__button
		@include index.button
		width: 35px !important
		height: 35px !important

		&.active
			@include index.button-active

	/* Wrapper of the like and counter button */
	&__like-wrapper
		display: flex
		align-items: center
		@include index.border7
		overflow: hidden
		color: index.$c-text
		transition: 0.2s ease

	/* Like button */
	&__like
		position: relative
		z-index: 1

	/* Likes counter */
	&__like-count
		display: flex
		align-items: center
		justify-content: center
		height: 35px
		min-width: 70px
		margin-left: -8px
		padding: 0 8px 0 16px
		background-color: index.$c-bg-900
		border-radius: 0 7px 7px 0 !important
		border: 1px solid index.$c-stroke
		animation: likes-translate 1s ease

	/* Comment Wrapper */
	&__comments-wrapper
		display: flex
		align-items: center
		min-height: 35px
		overflow: hidden
		border-radius: 7px
		color: index.$c-text
		box-sizing: content-box
		transition: 0.2s ease

	/* Comments count */
	&__comments-count
		display: flex
		align-items: center
		justify-content: center
		height: 100%
		min-width: 70px
		padding: 0 16px
		margin-right: -8px
		@include index.link
		border-radius: 7px 0 0 7px !important
		transition: 0.2s ease
		animation: comments-translate 1.5s ease

	/* Comments button */
	&__comments
		display: flex
		align-items: center
		justify-content: center
		@include index.link
		transition: 0.2s ease
		background-color: index.$c-bg-900 !important

	/* Leave a comment button */
	&__leave-a-comment
		width: fit-content !important
		padding: 0 20px
		color: index.$c-text
		@include index.link

/* Animations */
@keyframes likes-translate
	from
		transform: translateX(-100%)
	to
		transform: translateX(0)
@keyframes comments-translate
	from
		transform: translateX(100%)
	to
		transform: translateX(0)

/* Hover effects */
@media (any-hover:hover)
	.questions-page
		&__button:hover
			@include index.button-hover

		&__like-wrapper:focus-visible
			.questions-page__like
				@include index.button-hover

		&__comments-wrapper:hover
			@include index.link-hover
			.questions-page__comments-count
				border-color: transparent !important
			.questions-page__comments
				background: transparent !important
				border-color: transparent !important
		&__comments-wrapper:focus
			@include index.link-hover
			.questions-page__comments-count
				border-color: transparent !important
			.questions-page__comments
				background: transparent !important
				border-color: transparent !important
		&__comments:hover
			box-shadow: none !important

		&__leave-a-comment:hover
			@include index.link-hover
