@use '../../index'

.questions-page
	max-width: 395px
	margin: 0 auto

	/* Список вопросов */
	&__list
		display: grid
		gap: 15px
	/* Элементы списка вопросов */
	&__item
		position: relative
		display: flex
		flex-direction: column
		gap: 16px
		padding: 14px 20px
		@include index.border15
		background-color: index.$c-bg-900
	&__title
		max-width: 90%
		line-height: 140%
	/* Список тэгов */
	.tags
		display: flex
		flex-wrap: wrap
		gap: 8px
		/* Тэги */
		&__item
			display: flex
			align-items: center
			justify-content: center
			padding: 8px
			font-size: 14px
			line-height: 14px
			@include index.border7
			border: 1px solid index.$c-stroke

	/* Обертка кнопок	*/
	&__buttons-wrapper
		display: flex
		justify-content: space-between
	/* Обертка Репорта, Отсслеживания, Лайков	*/
	&__buttons
		display: flex
		gap: 8px
	/* Кнопка репорт	*/
	&__button
		@include index.button
		width: 30px
		height: 30px
		&.active
			@include index.button-active
		@media (any-hover:hover)
			&:hover
				@include index.button-hover
	/* Флажок популярности вопроса	*/
	&__popular
		position: absolute
		top: 0
		right: 20px
		@include index.button-active
		border-radius: 0 0 7px 7px
		pointer-events: none
		&.none
			display: none

	/* Обертка кнопки лайк	*/
	&__like-wrapper
		display: flex
		align-items: center
		gap: 8px

	/* Пагинация */
	.pagination
		display: flex
		align-items: center
		justify-content: center
		gap: 8px
		padding: 8px
		@include index.border15
		background-color: index.$c-bg-900
		/* Стрелки пагинации и счетчик */
		&__button,
		&__counter
			display: flex
			align-items: center
			justify-content: center
			height: 35px
			padding: 0
		&__button
			width: 35px
			@include index.button
			cursor: pointer
			transition: 0.2s ease
			&.disabled
				background: none
				box-shadow: none
				pointer-events: none
				svg
					stroke: index.$c-text-disabled
			@media (any-hover:hover)
				&:hover
					@include index.button-hover
		&__counter
			padding: 0 14px
			@include index.border7
			background-color: index.$c-bg-input
