@use '../../index'

.footer
	position: fixed
	bottom: 0
	left: 0
	width: 100%
	padding: 15px
	background-color: index.$c-bg-main
	box-shadow: 0 0 10px 10px index.$c-bg-main
	&__wrapper
		position: relative
		display: flex
		align-items: center
		min-width: 160px
		width: fit-content
		height: 56px
		padding: 0 8px
		margin: 0 auto
		background-color: index.$c-bg-900
		border-radius: 15px
		@include index.border15
		overflow: hidden
		animation: opacity 2s ease

	&__list
		display: flex
		align-items: center
		gap: 12px

	/* Footer Items */
	&__item
		flex-shrink: 0
		display: flex
		align-items: center
		justify-content: center
		width: 40px
		height: 40px
		padding: 8px
		@include index.button
		transition: 0.2s ease
		cursor: pointer
		animation: footer-items 2s ease
		&.active
			@include index.button-active
			color: index.$c-text-active

@media (any-hover:hover)
	.footer
		&__item:hover
			@include index.button-hover
