@use '../../index'

.footer
	position: fixed
	z-index: 2
	bottom: 0
	left: 0
	width: 100%
	padding: 15px

	&__button-wrapper
		position: relative
		display: flex
		align-items: center
		min-width: 160px
		width: fit-content
		height: 56px
		padding: 0 8px
		margin: 0 auto
		background-color: index.$c-bg-900
		border-radius: 15px
		@include index.border15
		overflow: hidden
		@include index.shadow

	/* Animations on buttons */
	.footer-item1
		animation: footer-item1 0.8s ease
	.footer-item2
		animation: footer-item2 0.8s ease
	.footer-item3
		animation: footer-item3 0.8s ease
