@use '../../index'

.ask-page
	display: flex
	flex-direction: column
	align-items: center

	/* Links wrapper */
	&__links-wrapper
		justify-self: flex-end
		/* Wrapper for buttons, links, tabs etc. in index.sass */
		& .button-wrapper
			width: fit-content
			/* Link in index.sass */
			.link
				border: none

	/* Wrapper for Filters */
	.filters
		display: flex
		flex-direction: column
		width: 100%
		gap: 16px
		padding: 8px
		@include index.border15
		background-color: index.$c-bg-900

	/* Filters list in index.sass */

	/* Wrapper for send aquestion button	*/
	.submit-button-wrapper
		width: 100%

	/* Submit button in index.sass */
