/* Fonts */
$f-global: 'Montserrat', sans-serif
$f-title: 'Montserrat', sans-serif

/* Colors */
$c-black: #000000
$c-white: #ffffff
$c-bg-main: #1C1C1C
$c-bg-900: #272727
$c-bg-input: #121212

$c-text: #CECECE
$c-text-active: #B3B3B3
$c-text-disabled: #737373
$c-title: #F2F2F2

$c-bg-button: #474747
$c-bg-button-active: #66643E

$c-stroke: #3B3B3B
$c-stroke-active: #45442A

@mixin button
	background: linear-gradient(to bottom, rgba(71, 71, 71, 0.4), rgba(26, 25, 15, 0.4))
	background-color: $c-bg-button
	border: 1px solid $c-stroke
	border-radius: 7px
	box-shadow: 2px 2px 4px rgba($c-black, 0.16), -1px -1px 2px rgba($c-white, 0.06), 2px 2px 4px rgba($c-white, 0.08) inset

@mixin button-active
	background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(102, 100, 62, 0.4))
	background-color: $c-bg-button-active
	border: 1px solid $c-stroke-active
	border-radius: 7px
	box-shadow: 2px 2px 4px rgba($c-black, 0.32) inset, -2px -2px 4px rgba($c-white, 0.16) inset
	color: $c-text-active
	svg
		stroke: $c-text-active

@mixin button-hover
	box-shadow: 2px 2px 4px rgba($c-black, 0.32) inset, -2px -2px 4px rgba($c-white, 0.16) inset
	color: $c-text-active
	svg
		stroke: $c-text-active

@mixin border15
	border-radius: 15px
	border: 1px solid $c-stroke

@mixin border7
	border-radius: 7px

body
	font-family: $f-global
	font-size: 16px
	font-weight: 400
	color: $c-text
	user-select: none

.section
	background-color: $c-bg-main
	padding-top: 130px

.container
	width: 100%
	max-width: 500px
	height: 100vh
	margin-top: 0
	margin-right: auto
	margin-bottom: 0
	margin-left: auto
	padding-top: 0
	padding-right: 15px
	padding-bottom: 0
	padding-left: 15px
	background-color: $c-bg-main

.title
	font-size: 18px
	font-weight: 600
	font-family: $f-title
	color: $c-title
	line-height: 18px

.text
	line-height: 140%

svg
	flex-shrink: 0
	stroke: $c-text

.button
	display: flex
	justify-content: center
	align-items: center
	width: 100%
	height: 100%
	@include button
	color: $c-text
	font-family: $f-global
	font-size: 16px
	font-weight: 600
	line-height: 16px
	cursor: pointer
	user-select: none
	&:disabled
		pointer-events: none
		background: transparent
		box-shadow: none
		color: $c-text-disabled

hr
	box-sizing: border-box
	width: 100%
	border: 0
	border-bottom: 1px solid $c-stroke
	margin: 0

/* Margin */
.mt--16
	margin-top: 16px
.mt--32
	margin-top: 32px
.mb--10
	margin-bottom: 10px
.mb--32
	margin-bottom: 32px

/* Modificators */
.button--reset
	border: 0
	padding: 0
	background-color: transparent
	cursor: pointer

.visually--hidden
	position: absolute
	width: 1px
	height: 1px
	margin: -1px
	overflow: hidden
	opacity: 0
	pointer-events: none

/* Animations */
@keyframes balance-translate
	0%
		right: -100%
		opacity: 0
	100%
		right: 0
		opacity: 1
@keyframes opacity
	0%
		opacity: 0
	100%
		opacity: 1
@keyframes opacity
	0%
		opacity: 0
	100%
		opacity: 1
@keyframes footer-items
	0%
		position: relative
		left: -100%
	100%
		position: relative
		left: 0
