@use '../../index'

.tasks-page
	/* Tabs in index.sass */

	/* Task page list */
	&__list
		display: grid
		gap: 16px

	/* Task page item */
	&__item
		display: flex
		flex-direction: column
		gap: 16px
		padding: 14px 20px
		@include index.border15
		background-color: index.$c-bg-900

	/* Wrapper for title and cost */
	&__header
		display: flex
		justify-content: space-between
		align-items: flex-start
		gap: 16px

	/* Title */
	&__item-title
		font-size: 16px

	/* Cost */
	&__cost
		min-width: 80px
		text-align: right

	/* Dividing line in index.sass */

	/* Wrapper for date and button */
	&__footer
		display: flex
		justify-content: space-between
		align-items: center
		gap: 16px

	/* Date */
	&__time
		flex-grow: 1

	/* Button in index.sass */
	/* Button if task is not done */
	&__button
		width: 90px !important
		height: 30px !important
		font-weight: 400 !important

	/* Button if task is done */
	&__claim
		@include index.button-active
		color: index.$c-text-active !important
