@use '../../index'

.comments-page
	/* Обертка свайпа ответов */
	.answers-block
		position: relative

	/* Верхний ответ	*/
	.answers
		position: relative
		z-index: 3
		padding: 14px 20px
		@include index.border15
		background-color: index.$c-bg-900
		/* Нижний ответ	*/
		&__next-comment-card
			position: absolute
			inset: 0
			z-index: 2
			opacity: 0.5
			transition: 0.2s ease
			pointer-events: none
			filter: blur(2px)

		/* Текст ответа */
		&__title
			font-size: 16px
			line-height: 1.4
			margin-bottom: 16px

	/* Реакции на ответ */
	.reactions-counter
		display: flex
		gap: 16px
		align-items: center

		/* Обертка Лайк / Дизлайк */
		&__icon-wrapper
			display: flex
			align-items: center
			gap: 4px
			color: index.$c-text-disabled
			svg
				stroke: index.$c-text-disabled
			&.active
				color: #99943D
				svg
					stroke: #99943D

		/* Профиль ответчика*/
		&__user
			margin-left: auto

	/* Кнопки для десктопной версии */
	.reactions
		display: flex
		justify-content: center
		gap: 46px
		margin-top: 16px

		/* Кнопки лайка */
		&__button
			display: flex
			justify-content: center
			align-items: center
			width: 60px
			height: 60px
			cursor: pointer
			@include index.link
			svg
				width: 40px
				height: 40px

		// Стили для карточек
		&.grabbing
			cursor: grabbing
	.like-hover
		@include index.link-hover

	.dislike-hover
		@include index.link-hover

// Анимация при наведении (для десктопов)
@media (any-hover:hover)
	.comments-page
		.reactions
			&__button:hover
				@include index.link-hover
