@use '../../index'

.comments-page
	max-width: 395px
	margin: 0 auto
	padding-bottom: 103px

	.answers
		padding: 14px 20px
		@include index.border15
		background-color: index.$c-bg-900

		&__title
			font-size: 16px

	.reactions-counter
		display: flex
		gap: 16px

		&__icon-wrapper
			display: flex
			align-items: center
			gap: 4px
			&.active
				color: index.$c-text-disabled
				& svg
					stroke: index.$c-text-disabled
		&__user
			margin-left: auto

	.reactions
		display: flex
		justify-content: center
		gap: 46px

		&__button
			display: flex
			justify-content: center
			align-items: center
			width: 60px
			height: 60px
			cursor: pointer
			@include index.link
			svg
				width: 40px
				height: 40px

@media (any-hover:hover)
	.comments-page
		.reactions
			&__button:hover
				@include index.link-hover
